.main{
 
}

@media screen and (min-width: 700px) {
  .main{
    display: grid;
    grid-template-columns: 33% 66%;
  }
}
@media screen and (min-width: 1024px) {
  .main{
    display: grid;
    grid-template-columns: 20% 80%;
  }
}