.sidebarWrapper{
  background-color: #fff;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

@media screen and (min-width: 700px) {
  .sidebarWrapper{
    position: sticky;
    top: 1rem;
  }
}
@media screen and (min-width: 1024px) {
}