.button {
  padding: 0.5rem 1.5rem;
  background-color: #c3e199;
  border: 0px solid;
  border-radius: 4px;
  margin: 0.5rem 2rem;
}

.activeButton{
  padding: 0.5rem 1.5rem;
  background-color: #7cba00;
  border: 0px solid;
  border-radius: 4px;
  margin: 0.5rem 2rem;
}