.button {
  padding: 0.5rem 1.5rem;
  background-color: #c3e199;
  border: 0px solid;
  border-radius: 4px;
  margin: 0.5rem 2rem;
}

.activeButton{
  padding: 0.5rem 1.5rem;
  background-color: #7cba00;
  border: 0px solid;
  border-radius: 4px;
  margin: 0.5rem 2rem;
}

@media (min-width: 700px){
  .button {
    margin: 0.5rem 0.25rem;
  }
  
  .activeButton{
    margin: 0.5rem 0.25rem;
  }
}
@media (min-width: 1024px){
  .button {
    margin: 0.5rem 0.75rem;
  }
  
  .activeButton{
    margin: 0.5rem 0.75rem;
  }
}